DEBUG=False
SECRET_KEY=your-secret-key-here-change-me
DB_NAME=fleet_db
DB_USER=fleet_user
DB_PASSWORD=your-secure-password
DB_HOST=your-rds-endpoint.amazonaws.com
DB_PORT=5432
ALLOWED_HOSTS=yourdomain.com,your-ec2-ip-address
CORS_ALLOWED_ORIGINS=your-cors-allowed-origin-of-frontend
CSRF_TRUSTED_ORIGINS=your-csrf-allowed-origin-of-frontend